label {
  color: var(--color-text-dark);
  font: 400 1.4rem Montserrat;
  margin-bottom: 0.5rem;
}

input {
  width: 60rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: solid 1px transparent;
  background-color: var(--color-text-hover);
  color: var(--color-text-dark);
  padding-left: 0.5rem;
  font: 400 1.4rem Montserrat;
  outline: none;
  transition: border-color 0.3s ease-in;
}

input:hover,
input:focus {
  border-color: var(--color-highlight);
}
