label {
  color: var(--color-text-dark);
  font: 400 1.4rem Montserrat;
  margin-bottom: 0.5rem;
}

select {
  width: 28rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0;
  background-color: var(--color-text-hover);
  color: var(--color-text-dark);
  font: 400 1.4rem Montserrat;

}

select:hover,
select:focus {
  outline: none;
  border: solid 1px var(--color-highlight);
  transition: 300ms;
}
