label {
  color: var(--color-text-dark);
  font: 400 1.4rem Montserrat;
  margin-bottom: 0.5rem;
}

select {
  width: 28rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: solid 1px transparent;
  background-color: var(--color-text-hover);
  color: var(--color-text-dark);
  font: 400 1.4rem Montserrat;
  outline: none;
  transition: border-color 0.3s ease-in;
  box-shadow: 0.5px 0.5px 4px 0px rgba(0, 0, 0 , 0.25);
}

select:hover,
select:focus {
  border-color: var(--color-highlight);
}
