#about {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about div {
  width: 53rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7rem;
  margin-top: 8rem;
}

#about div h1 {
  width: 100%;
  text-align: center;
  font: 300 5.5rem Ubuntu;
  color: var(--color-title-white);
}

#about div p {
  width: 100%;
  margin-top: 3rem;
  font: 300 1.6rem Montserrat;
  line-height: 3rem;
  color: var(--color-text-light);
}

#about div p + p {
  margin-top: 1rem;
}

#about div p strong {
  font-weight: 500;
}

#about div p strong.highlight {
  color: var(--color-highlight);
}

#about img {
  margin-right: 7rem;
  margin-bottom: 7rem;
  margin-top: 8rem;

}
