header {
  position: fixed;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: var(--color-background-primary);
}

header div.logo {
  width: 23rem;
  height: 5.5rem;
  margin-left: 3rem;
  background-image: url('../../assets/images/logo.svg');
}

header > a:focus {
  outline: none;
}

header nav {
  display: flex;
  width: 52rem;
  height: 5rem;
}

header nav.menu-authentication {
  display: flex;
  width: 24rem;
  height: 5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  text-decoration: none;
  font: 400 1.6rem Ubuntu;
  color: var(--color-text-light);
  margin-right: 3rem;
}

header ul li a:hover,
header ul li a:focus {
  color: var(--color-highlight);
  transition: 300ms;
  outline: none;
}

header ul li a.sign-in {
  font-weight: 500;
  padding: 1.6rem 2.1rem;
  border-radius: 0.8rem;
  margin-right: 2rem;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
}

header ul li a.sign-in:hover,
header ul li a.sign-in:focus {
  color: var(--color-text-dark-hover);
  background-color: var(--color-text-hover);
}

header ul li a.sign-up {
  font-weight: 500;
  padding: 1.6rem 0.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-highlight);
}

header ul li a.sign-up:hover,
header ul li a.sign-up:focus {
  color: var(--color-text-light);
  background-color: var(--color-highlight-dark);
}

header.headerLight {
  position: fixed;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-text-light);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

header.headerLight div.logo {
  width: 23rem;
  height: 5.5rem;
  margin-left: 3rem;
  background-image: url('../../assets/images/logo-light.svg');
}

header.headerLight > a:focus {
  outline: none;
}

header.headerLight nav {
  display: flex;
  width: 52rem;
  height: 5rem;
}

header.headerLight nav.menu-authentication {
  display: flex;
  width: 24rem;
  height: 5rem;
}

header.headerLight nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.headerLight ul li a {
  text-decoration: none;
  font: 400 1.6rem Ubuntu;
  color: var(--color-text-dark);
  margin-right: 3rem;
}

header.headerLight ul li a:hover,
header.headerLight ul li a:focus {
  color: var(--color-highlight);
  transition: 300ms;
  outline: none;
}

header.headerLight ul li a.sign-in {
  font-weight: 500;
  padding: 1.6rem 2.1rem;
  border-radius: 0.8rem;
  margin-right: 2rem;
  background-color: var(--color-background-primary);
  color: var(--color-title-white);
}

header.headerLight ul li a.sign-in:hover,
header.headerLight ul li a.sign-in:focus {
  color: var(--color-title-white);
  background-color: var(--color-background-primary-dark);
}

header.headerLight ul li a.sign-up {
  font-weight: 500;
  padding: 1.6rem 0.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-highlight);
  color: var(--color-title-white);
}

header.headerLight ul li a.sign-up:hover,
header.headerLight ul li a.sign-up:focus {
  background-color: var(--color-highlight-dark);
}
