header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-primary);
}

header img {
  margin-left: 3rem;
}

header > a:focus {
  outline: none;
}

header nav {
  display: flex;
  width: 52rem;
  height: 5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  text-decoration: none;
  font: 400 1.6rem Ubuntu;
  color: var(--color-text-light);
  margin-right: 3rem;
}

header ul li a:hover,
header ul li a:focus {
  color: var(--color-highlight);
  transition: 300ms;
  outline: none;
}

header ul li a.sign-in {
  font-weight: 500;
  padding: 1.6rem 2.1rem;
  border-radius: 0.8rem;
  margin-right: 2rem;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
}

header ul li a.sign-in:hover,
header ul li a.sign-in:focus {
  color: var(--color-text-dark-hover);
  background-color: var(--color-text-hover);
}

header ul li a.sign-up {
  font-weight: 500;
  padding: 1.6rem 0.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-highlight);
}

header ul li a.sign-up:hover,
header ul li a.sign-up:focus {
  color: var(--color-text-light);
  background-color: var(--color-highlight-dark);
}
