:root {
  font-size: 60%;
  transition: 300ms;

  --color-background-primary: #137547;
  --color-background-primary-dark: #0c6d40;
  --color-background-secundary: #F0FFF4;
  --color-background-form: #F8F9FA;
  --color-title-white: #FFFFFF;
  --color-text-light: #F8F9FA;
  --color-text-hover: #E9ECEF;
  --color-text-dark: #6C757D;
  --color-text-dark-hover: #495057;
  --color-fieldset-form: #6C757D;
  --color-highlight: #FF6D00;
  --color-highlight-dark: #ff4800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background: var(--color-background-primary)
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
        transition: 300ms;
    }
}
